
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Скидання паролю</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<div class="container">
    <h2>Скидання паролю</h2>
    <form th:action="@{/reset-password}" method="post">
        <label>Email:</label><input type="email" name="email" /><br />
        <label>Відповідь на секретне питання:</label><input type="text" name="answer" /><br />
        <label>Новий пароль:</label><input type="password" name="newPassword" /><br />
        <button type="submit">Скинути</button>
    </form>
</div>
</body>
</html>
